/* style.css
 * This file provides css styles.
 */

body, html {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
}

.fill-height-or-more {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.number {
  color: #223A5E;
  font-weight: bold;
  font-size: 2em;
}

.label {
  color: #223A5E;
  font-weight: bold;
  font-size: 1.5em;
}

.person {
  height: 100px;
  margin: 10px;
}

.footprint {
  height: 100px;
  margin: 10px;
}

.distance {
  height: 100px;
  margin: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  background: #C3DBD4;
  min-height: 50px;
  margin-right: 15px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 20px;
  color: #223A5E;
  font-size: 1.5em;
  font-weight: bold;
}

.standing {
  display: flex;
  flex-direction: row;
  /*width:100%;*/
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 120px;
  min-height: 120px;
  border-bottom: 1px solid #F7CEE0;
}

.rank {
  width: 20%;
  color: #223A5E;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.avatarHolder {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-content: center;
}

.avatar {
  height: 80px;
}

.standingData {
  width: 60%;
}

.personName {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #223A5E;
  padding: 5px;
  font-size: 1.3em;
  font-weight: normal;
}

.personData {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #223A5E;
  padding: 5px;
  font-size: 1.2em;
  font-weight: normal;
}

.leaders {
  border: 1px solid #F7CEE0;
  margin: 10px;
  margin-left: 20px;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.overview {
  background: white;
  height:25%;
  display: flex;
  margin-bottom:20px;
  min-height:260px;
  /*border: 1px solid #cccccc;*/
}

.blockchain {
  background: white;
  height:65%;
  overflow:hidden;
  /*border: 1px solid #cccccc;*/
}

.board {
  display: flex;
  flex-direction: row;
  /*margin:30px;*/
  height: 100%;
  width: calc(100% - 60);
  border: 1px solid #cccccc;
  padding: 30px;

}

.data {
  width: 70%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid #dddddd;*/
  margin 0 auto;
  min-height: 100%;
  background: pink;
}

.databox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #B61C50;
  height: 100%;
}

.logo {
  height: 100%;
  width: 100%;
}

.column {
  margin: 20px;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;
  /*border: 1px solid #dddddd;*/
}

.logocolumn {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  /*border: 1px solid #dddddd;*/
}

.stuff {
  margin: 10px;
  flex-grow: 10;
  flex-shrink: 10;
  flex-basis: 0;
  border: 1px solid #dddddd;
}

.pie {
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  background: #b61c50;
  background-image: linear-gradient(to right, transparent 50%, #C3DBD4 0);
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background: #C3DBD4;
  transform-origin: left;
  transform: rotate(.1turn);
}

.leaderboard {
  width: 35%;
  /*margin: 10px;*/
  margin-right: 10px;
  margin-left:10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  /*border: 1px solid #dddddd;*/
}

/* Blockchain style */

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 30%;
  margin: 20px;
  color: #223A5E;
}

.blocktop {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F7CEE0;
  border-color: #F7CEE0;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.blockbottom {
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F7CEE0;
  border-color: #F7CEE0;
  height: 50px;
  font-size: 1em;
}

.blockid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  font-weight: bold;
  font-size: 1.1em;
}

.blockprint {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  font-size: .8em;
}

.printlabel {
  font-weight: bold;
  padding: 2px;
}

.fingerprint {
  padding: 2px;
}

.payload {
  height: 160px;
  border-right: 1px solid #F7CEE0;
  border-left: 1px solid #F7CEE0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px;
  font-size: 1em;
  font-weight: 300;
}

.wordwrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.hash {
  font-size: .7em;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {
  .block {

    width: 20%;

  }
}
